/*General Styles*/


/*font-family: 'Allerta Stencil', sans-serif;

font-family: 'Quantico', sans-serif;

font-family: 'Monoton', cursive;*/

#page-10a, #page-11a, #page-12a, #page-13a {
  display: none;
}

#page-20a {
  display: none;
}

#page-30a, #page-31a, #page-32a, #page-33a, #page-30b, #page-31b, #page-32b, #page-33b  {
  display: none;
}

#page-40a {
  display: none;
}

#page-50a, #page-51a, #page-52a, #page-53a, #page-50b, #page-51b, #page-52b, #page-53b {
  display: none;
}

#page-60a, #page-61a, #page-62a, #page-63a  {
  display: none;
}

#page-70a, #page-71a, #page-72a, #page-73a {
  display: none;
}

#page-final, #low-score, #medium-score, #high-score {
  display: none;
}

body {
  background-color: #b2b2b2;
  font-family: 'Quantico', sans-serif;
}

h1 {
  color: #7D0505;
  font-family: 'Monoton', cursive;
  font-size: 4em;
  text-align: center;
}

h2 {
  color: #7D0505;
  font-family: 'Monoton', cursive;
  text-decoration: underline;
}

h3 {

}

img {
  border: 2px solid black;
  max-width: 80%;
  margin: 2vh 0;
}

li {
  font-size: 1.3em;
}

p {
  font-size: 1.3em;
}

ul {
  list-style: none;
}

.btn {
  background-color: #7D0505;
  color: #EDEECB;
  font-weight: bold;
  border: 1px solid black;
}

.btn:hover {
  color:  #595959;
}

/*Scoreboard Styles*/
#scoreboard-header {
  font-family: 'Allerta Stencil', sans-serif;
  margin-top: 3vh;
}

#scoreboard-page {
  display: none;
}

/*Page Styles*/
.user-name {
  color: #7D0505;
}

.output-color {
  color: red;
}

.output-color-page {
  color: green;
}

.scoreboard-page-box {
  border: 5px solid black;
  background-color: #fffefe;
  max-width: 80%;
  min-height: 200px;
  margin: auto;
  padding-left: 10%;
  margin-bottom: 5%;
}

#scoreboard-page {
  display: none;
}

/*Page Styles*/
.user-name {
  color: #7D0505;
}

/*Branch Page Styles*/
.branch-page{
  text-align: center;
}

/*Landing Page Styles*/
#landing-page h2 {
  color: #7D0505;
  font-family: 'Quantico', sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#landing-page img {
  max-width: 60vw;
  display: block;
  margin: auto;
  border: 5px solid black;
}
#get-user-name {
  text-align: center;
  background-color: #fffefe;
  border: 5px solid black;
  padding-top: 2vh;
  max-width: 50vw;
  display: block;
  margin: auto;
}
